<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BlurryControls" version="1.0.24" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="Syncfusion.Gauge.Windows" version="18.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="18.4.0.47" targetFramework="net461" />
</packages>